<div class="main-wrapper">
    <h1 class="main-header income-and-expenses-header h3">Создание дохода/расхода</h1>

    <form class="form">
        <div class="select">
            <select class="form-select" id="type-select" aria-label="Default select example">
                <option value="type" selected>Тип...</option>
                <option value="income" >Доход</option>
                <option value="expense">Расход</option>
            </select>
            <div id="type-error" class="invalid-feedback">
                Выберите тип
            </div>
        </div>
        <div class="select">
            <select class="form-select" id="category-select" aria-label="Default select example">
            </select>
            <div id="category-error" class="invalid-feedback">
                Выберите категорию
            </div>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" id="sum" placeholder="Сумма в $...">
            <div id="sum-error" class="invalid-feedback">
                Введите сумму
            </div>
        </div>
        <div class="input-group">
            <input type="text" id="date" placeholder="Дата..." class="form-control date">
            <div id="date-error" class="invalid-feedback">
                Введите дату
            </div>
        </div>
        <div class="input-group">
            <textarea class="form-control" placeholder="Комментарий..." id="floatingTextarea"></textarea>
            <div id="name-error" class="invalid-feedback">
                Введите комментарий
            </div>
        </div>
        <div class="create-operations">
            <button type="button" class="operations-btn  btn btn-success" id="create-button">Создать</button>
            <a href="/income-and-expenses" type="button" class="operations-btn btn btn-danger">Отмена</a>
        </div>
    </form>
</div>