<div class="main-wrapper operations-wrapper">
    <h1 class="main-header category-header h3">Расходы</h1>
    <div class="cards" id="cards">
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Вы действительно хотите удалить категорию?</p>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0)" type="button" class="modal-btn btn btn-success" id="delete-btn" data-bs-dismiss="modal">Да, удалить</a>
                    <a href="javascript:void(0)" type="button" class="modal-btn btn btn-danger" data-bs-dismiss="modal">Не удалять</a>
                </div>
            </div>
        </div>
    </div>
</div>