<div class="main-wrapper">
  <h1 class="main-header category-header h3">Редактирование категории расходов</h1>

  <form class="form">
    <div class="input-group">
      <input type="text" class="form-control">
      <div id="category-error" class="invalid-feedback">
        Введите название
      </div>
    </div>
    <div class="create-operations">
      <button type="button" class="operations-btn  btn btn-success" id="save-button">Сохранить</button>
      <button type="button" id="cancel-button" class="operations-btn btn btn-danger">Отмена</button>
    </div>
  </form>
</div>