<div class="main-wrapper">
    <h1 class="main-header diagram-header h3">Главная</h1>

    <div class="main-diagram-periods diagram-periods d-flex align-items-center">
        <button type="button" class="diagram-btn btn btn-outline-secondary" data-period="today">Сегодня</button>
        <button type="button" class="diagram-btn btn btn-outline-secondary" data-period="week">Неделя</button>
        <button type="button" class="diagram-btn btn btn-outline-secondary" data-period="month">Месяц</button>
        <button type="button" class="diagram-btn btn btn-outline-secondary" data-period="year">Год</button>
        <button type="button" class="diagram-btn btn btn-outline-secondary active" data-period="all">Все</button>
        <p type="button" class="diagram-btn btn btn-outline-secondary m-0" data-period="interval">Интервал</p>
        <span>с</span>
        <input type="text" size="3" id="start-date" name="start" placeholder="Дата" class="date text-decoration-underline border-0">
        <span>по</span>
        <input type="text" size="3" id="end-date" name="start" placeholder="Дата" class="date text-decoration-underline border-0">
    </div>

    <div class="diagram-wrap row text-center d-flex">
        <div class="diagram-container">
            <div class="diagram">
                <h3 class="diagram-title">Доходы</h3>
                <canvas class="chart" id="chart-income"></canvas>
            </div>
            <div class="diagram">
                <h3 class="diagram-title">Расходы</h3>
                <canvas class="chart" id="chart-expenses"></canvas>
            </div>
        </div>
    </div>
</div>